.enquiriesTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
}

.enquiryContainer {
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
}

.enquiriesList {
    flex: 1;
    border-right: 1px solid white;
    padding: 20px;
}

.enquiryItem {
    cursor: pointer;
    padding: 10px;
    background: white;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 1px solid white;
}

.enquiryItem:hover {
    background-color: white;
}

.enquiryDetails {
    flex: 2;
    padding: 20px;
    background: white;
}

.enquiryDetails h2 {
    margin-top: 0;
}

.enquiryDetails p {
    margin-bottom: 10px;
}

.responseSection{
    margin-top: 20px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}
  
.sendResponseBtn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
  
.responses {
    margin-top: 10px;
}
  
.myResponse {
    color: blue;
}
  
.userResponse {
    color: black;
}

.enquiryTbl {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

.enquiryTblHeader {
    background-color: white;
    font-weight: bold;
}

.enquiryTblCell, .enquiryTbl td {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}

.enquiryTblCell {
    background-color: #f5e879;
    padding: 10px;
    border-bottom: 1px solid white;
}
  
.enquiryTbl tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.unread {
    cursor: pointer;
    background-color: #f5e879 !important;
}
  
.unread:hover {
    background-color: #f5e879;
}

.read {
    background-color: white;
}